.tile {
    position: absolute;
    cursor: pointer;
    
    width: var(--tile-width);
    height: var(--tile-height);
    
    top: var(--tile-position-y);
    left: var(--tile-position-x);
    border-top: var(--tile-border-top);
    border-right: var(--tile-border-right);
}

.tile_active {
    border: 2px solid lightskyblue
}


