.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content {
    // position: relative;
    height: 85%;
    margin: 10px;
    display: flex;
}

.footer {
    height: 15%;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}